.container {
  text-align: center;
  margin-top: 50px;
  background-color: #00FFFF;
  height:250px;
  width:250px;
}

input[type="date"] {
  padding: 10px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
